 <!-- (ngModelChange)="binaryChange(newVal = $event)" -->

<div class="container my-5">
  <div class="col-md-8 offset-md-2 table-bordered shadow p-5">
    <h1 class="text-danger english text-center mb-5">Base Converter</h1>
    <form action="" class="form" [formGroup]="form">
      <div class="form-group row mb-3">
        <label class="col-md-2 english">Binary</label>
        <div class="col-md-10">
          <input type="text" class="form-control" name="Binary" formControlName="binary">
        </div>
      </div>
      <div class="form-group row mb-3">
        <label class="col-md-2 english">Decimal</label>
        <div class="col-md-10">
          <input type="text" class="form-control" name="Decimal" formControlName="decimal">
        </div>
      </div>
      <div class="form-group row mb-3">
        <label class="col-md-2 english">Octal</label>
        <div class="col-md-10">
          <input type="text" class="form-control" name="Octal" formControlName="octal">
        </div>
      </div>
      <div class="form-group row mb-3">
        <label class="col-md-2 ">Hexa</label>
        <div class="col-md-10">
          <input type="text" class="form-control" name="Hexa" formControlName="hexa">
        </div>
      </div>
    </form>
  </div>
</div>
